<center><img width="70%" src="img/logo.png"></center>

# **Projeto Observatório Social - Prefeitura Municipal de Indaial / SC**
### <font color='#DC143C'> *Webcrapping com Python | Criação e Alimentação de DW*
*by [JOVIANO SILVEIRA](https://www.joviano.com)*

---

# <font color=green> 1. RESUMO DAS FUNÇÕES CRIADAS NA ÚLTIMA AULA

In [2]:
# Importando bibliotecas

import time
import pandas as pd

from urllib.error import URLError, HTTPError
from urllib.request import Request, urlopen

import bs4

In [3]:
# Informando o AGENTE

agente = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
headers = {'User-Agent': agente}

In [4]:
# Função para chamar a página WEB

def ConsultaWebB(url):
    try:
        req = Request(url, headers = headers)
        response = urlopen(req)
        return response.read()

    except:
        pass

In [5]:
# Função para pegar a página encontrada e transformar em um objeto utilizável

def captura_html_pagina(url):
    html = ConsultaWebB(url)
    soup = bs4.BeautifulSoup(html, 'html.parser')    
    return soup

In [6]:
# Função para capturar as informações da "tabelinha cabeçalho" da página

def Cabecalho(html):
    dt = html.find_all('dt')
    dd = html.find_all('dd')
    dic = {}
    for i in range(len(dt)):
        x = dt[i].get_text()
        y = dd[i].get_text()
        dic[x] = y
    return dic

In [7]:
# Funçao para capturar o conteúdo da página e transformar em um dicionário

def Conteudo(proposicao, ano):
    url = 'https://www.legislador.com.br//LegisladorWEB.ASP?WCI=ProposicaoTexto&ID=3&TPProposicao=1&nrProposicao='+str(proposicao)+'&aaProposicao='+str(ano)
    html = captura_html_pagina(url)
    dic = Cabecalho(html)
    dic['Proposição'] = proposicao
    dic['Ano'] = ano
    dic['Texto'] = html.p.get_text()
    return dic

In [8]:
def TabelaResultados(inicar_em, quantidade, ano, erros_admissiveis, segundos_espera):

    ultima_consulta = inicar_em + quantidade - 1

    # erros
    erros = 0

    # variaveis para loop
    i = 1
    lista = []

    while inicar_em <= ultima_consulta and erros <= erros_admissiveis:

        try:
            x = Conteudo(inicar_em,ano)
            lista = lista + [Conteudo(inicar_em,ano)]
        except:
            erros += 1
            pass

        time.sleep(segundos_espera)

        # carregamento incremental das variáveis
        inicar_em+=1 
        i+=1


    return pd.DataFrame(lista)

In [9]:
teste = TabelaResultados(803,20,2021,2,0.2)
teste

,Reunião,Deliberação,Situação,Assunto,Autor,Proposição,Ano,Texto
0,29/06/2021,29/06/2021,Proposição Aprovada,"Pontes, Bueiros, boca de lobo",VereadorAnderson Luz dos Santos.,803,2021,"O vereador que esta subscreve, no uso das atri..."
1,29/06/2021,29/06/2021,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,804,2021,"O vereador que esta subscreve, no uso das atri..."
2,29/06/2021,29/06/2021,Proposição Aprovada,"Limpeza, Macadamização, Patrolamento, Retifica...",VereadorAnderson Luz dos Santos.,805,2021,"O vereador que esta subscreve, no uso das atri..."
3,29/06/2021,29/06/2021,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,806,2021,"O vereador que esta subscreve, no uso das atri..."

# <font color=green> 2. CRIANDO O BANCO DE DADOS E TABELAS

### 2.1 Criando Banco de Dados

> Você vai entrar no ``SSMS`` e vai conectar no servidor localhost

<center><img width="50%" src="img/ssms.png"></center>

> Se você seguiu meu passo a passo, pode selecionar a ``autenticação do Windows`` ou pode usar o usuário configurado na instalação do SQL SERVER (deve ter sido ``sa``) e a senha personalizada. 
>
> Ou, se você tem um servidor (não local) que está guardando os arquivos, use as credenciais de conexão padrão dele.

> Feito isso você vai clicar com botão direito sobre o Banco de Dados e criar ``Novo Banco de Dados``

<center><img width="50%" src="img/novo_banco.png"></center>

> Digite o nome que você vai dar ao banco, e clique em OK.

<center><img width="70%" src="img/novo_banco2.png"></center>

> Uma vez criado, você pode navegar pela árvore e visualizá-lo

<center><img width="50%" src="img/novo_banco3.png"></center>

### 2.2 Criando Tabelas

> Clicamos com o botão direito do mouse sobre o banco, e em seguida, clicamos em ``Nova Consulta``

<center><img width="50%" src="img/nova_consulta.png"></center>

> Essa tela branca que abriu é o local aonde escrevemos os scripts SQL.
>
> Através de um script SQL vamos criar a nossa tabela.

> Uma tabela SQL é sempre mais rápida que uma tabela EXCEL (por exemplo) pois quando a criamos, dizemos que determinada coluna vai receber **EXCLUSIVAMENTE** determinado tipo de dado.
>
> Então, nosso primeiro passo é identificar o nome das colunas e tipos de dados, para ai sim, podermos criar o script SQL.

In [ ]:
# Lista com nome de colunas
list(teste.columns)

In [ ]:
# Lista com tipos de dados
teste.dtypes

> <font color='#DC143C'> **ATENÇÃO**
>> As colunas de data foram reconhecidas como texto no dataframe, mas ao inserir no banco, vamos fazer em formato data

> Com isso você poderá montar seu script, seguindo esse padrão:

```sql
CREATE TABLE Proposicoes (

	DataReuniao DATE,
	DataDeliberacao DATE,
	Situacao VARCHAR(200),
	Assunto VARCHAR(1000),
	Autor VARCHAR(1000),
	Proposicao INT,
	Ano INT,
	Texto VARCHAR(MAX)

)
```
>
> [Acesse aqui](https://docs.microsoft.com/pt-br/sql/t-sql/data-types/data-types-transact-sql?view=sql-server-ver15) e conheça a lista dos tipos de dados possíveis, disposta na documentação oficial do SQL Server.

> Uma vez criada a tabela, necessitamos ver se ela foi criada.
>
> Podemos (e vamos) ver isso no SSMS e também aqui no Python

### 2.3 Alimentando Tabelas

In [10]:
# Biblioteca que conecta o Python ao SQL
import pyodbc

In [11]:
pyodbc.version
# pip install pyodbc==4.0.30

'4.0.30'

In [ ]:
'''
# Com senha
conn = pyodbc.connect('Trusted_Connection=yes', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      server = 'localhost', 
                      database = 'Indaial',
                      UID='sa',
                      PWD='SuaSenha')
'''

# Com autenticação do Windows
conn = pyodbc.connect('Trusted_Connection=yes', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      server = 'localhost', 
                      database = 'Indaial')

query = '''
    select 
        * 
    from Proposicoes
'''
sql_query = pd.read_sql_query(query,conn)
sql_query

> Pudemos ver que não há dados em nossa tabela.

> Agora, vamos inserir dados nesta tabela

In [ ]:
conn = pyodbc.connect('Trusted_Connection=yes', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      server = 'localhost', 
                      database = 'Indaial')

cursor = conn.cursor()

for index, row in teste.iterrows():
    
    cursor.execute('''
    
        INSERT INTO Proposicoes (
            DataReuniao,
            DataDeliberacao,
            Situacao,
            Assunto,
            Autor,
            Proposicao,
            Ano,
            Texto
        ) 
        values(?,?,?,?,?,?,?,?)''', # mesma quantidade de variáveis

        row['Reunião'], 
        row['Deliberação'], 
        row['Situação'], 
        row['Assunto'], 
        row['Autor'], 
        row['Proposição'], 
        row['Ano'], 
        row['Texto']

    )

conn.commit()
cursor.close()

> E então...

In [ ]:
conn = pyodbc.connect('Trusted_Connection=yes', 
                      driver = '{ODBC Driver 17 for SQL Server}',
                      server = 'localhost', 
                      database = 'Indaial')

query = '''
    select 
        * 
    from Proposicoes
'''
sql_query = pd.read_sql_query(query,conn)
sql_query

> Como já falei que funções agilizam nossa vida, vamos criar uma para fazer seleção de dados

In [16]:
def SQLSelect(query):
    
    conn = pyodbc.connect('Trusted_Connection=yes', 
                          driver = '{ODBC Driver 17 for SQL Server}',
                          server = 'localhost', 
                          database = 'Indaial')

    out = pd.read_sql_query(query,conn)
    return out

> E olha como (denovo) fica mais fácil

In [17]:
SQLSelect('''
    select 
        *
    from Proposicoes
''')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,2021-06-29,2021-06-29,Proposição Aprovada,"Pontes, Bueiros, boca de lobo",VereadorAnderson Luz dos Santos.,803,2021,"O vereador que esta subscreve, no uso das atri..."
1,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,804,2021,"O vereador que esta subscreve, no uso das atri..."
2,2021-06-29,2021-06-29,Proposição Aprovada,"Limpeza, Macadamização, Patrolamento, Retifica...",VereadorAnderson Luz dos Santos.,805,2021,"O vereador que esta subscreve, no uso das atri..."
3,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,806,2021,"O vereador que esta subscreve, no uso das atri..."

In [18]:
SQLSelect('''
    select 
        maior = max(Proposicao)
    from Proposicoes
''')

   maior
0    806

> E claro, vamos criar uma função para fazer a inserção dos dados na tabela ``Proposicoes``

In [19]:
def SQLInsertProposicoes(TabelaProposicoes):

    conn = pyodbc.connect('Trusted_Connection=yes', 
                          driver = '{ODBC Driver 17 for SQL Server}',
                          server = 'localhost', 
                          database = 'Indaial')

    cursor = conn.cursor()

    for index, row in TabelaProposicoes.iterrows():

        cursor.execute('''

            INSERT INTO Proposicoes (
                DataReuniao,
                DataDeliberacao,
                Situacao,
                Assunto,
                Autor,
                Proposicao,
                Ano,
                Texto
            ) 
            values(?,?,?,?,?,?,?,?)''', 

            row['Reunião'], 
            row['Deliberação'], 
            row['Situação'], 
            row['Assunto'], 
            row['Autor'], 
            row['Proposição'], 
            row['Ano'], 
            row['Texto']

        )

    conn.commit()
    cursor.close()

> E a facilidade continua...
>
> Vamos inserir dados (mesmo que duplicados) na tabela

In [23]:
SQLInsertProposicoes(teste)

In [24]:
SQLSelect('''
    select 
        *
    from Proposicoes
''')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,2021-06-29,2021-06-29,Proposição Aprovada,"Pontes, Bueiros, boca de lobo",VereadorAnderson Luz dos Santos.,803,2021,"O vereador que esta subscreve, no uso das atri..."
1,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,804,2021,"O vereador que esta subscreve, no uso das atri..."
2,2021-06-29,2021-06-29,Proposição Aprovada,"Limpeza, Macadamização, Patrolamento, Retifica...",VereadorAnderson Luz dos Santos.,805,2021,"O vereador que esta subscreve, no uso das atri..."
3,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,806,2021,"O vereador que esta subscreve, no uso das atri..."
4,2021-06-29,2021-06-29,Proposição Aprovada,"Pontes, Bueiros, boca de lobo",VereadorAnderson Luz dos Santos.,803,2021,"O vereador que esta subscreve, no uso das atri..."
5,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,804,2021,"O vereador que esta subscreve, no uso das atri..."
6,2021-06-29,2021-06-29,Proposição Aprovada,"Limpeza, Macadamização, Patrolamento, Retifica...",VereadorAnderson Luz dos Santos.,805,2021,"O vereador que esta subscreve, no uso das atri..."
7,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,806,2021,"O vereador que esta subscreve, no uso das atri..."
8,2021-06-29,2021-06-29,Proposição Aprovada,"Pontes, Bueiros, boca de lobo",VereadorAnderson Luz dos Santos.,803,2021,"O vereador que esta subscreve, no uso das atri..."
9,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,804,2021,"O vereador que esta subscreve, no uso das atri..."
10,2021-06-29,2021-06-29,Proposição Aprovada,"Limpeza, Macadamização, Patrolamento, Retifica...",VereadorAnderson Luz dos Santos.,805,2021,"O vereador que esta subscreve, no uso das atri..."
11,2021-06-29,2021-06-29,Proposição Aprovada,Manutenção de via pública,VereadorAnderson Luz dos Santos.,806,2021,"O vereador que esta subscreve, no uso das atri..."

> Mas perceba que fizemos a inserção, só que queriamos ter limpado a tabela antes de fazer uma nova inserção, e vamos aproveitar a função de inserção e criar a de limpeza

In [34]:
def SQLTruncate(NomeTabela):

    conn = pyodbc.connect('Trusted_Connection=yes', 
                          driver = '{ODBC Driver 17 for SQL Server}',
                          server = 'localhost', 
                          database = 'Indaial')

    cursor = conn.cursor()

    cursor.execute(f'''

                   TRUNCATE TABLE {NomeTabela}

                   ''')

    conn.commit()
    cursor.close()

In [37]:
# Limpando dados da tabela
SQLTruncate('Proposicoes')

# Visualizando a tabela
SQLSelect('select *from Proposicoes')

Empty DataFrame
Columns: [DataReuniao, DataDeliberacao, Situacao, Assunto, Autor, Proposicao, Ano, Texto]
Index: []

> [Acesse Aqui](https://docs.python.org/pt-br/3/tutorial/inputoutput.html) a documentação oficial do Python, e veja eles demontrando essa técnica do ``f`` defronte o texto, a qual se denomina ``string literal formatada``

> Voltando à nossa função de inserção de dados, optamos por não usar ``strings literais formatadas`` pois teriamos que carregar uma variável para cada coluna, e naquele caso, achamos mais produtivo fazer da forma que foi demonstrada.

> Agora que sabemos CRIAR, LIMPAR, e SELECIONAR dados de uma tabela via SQL, podemos automatizar a inserção de dados nela

# <font color=green> 3. ALIMENTAÇÃO INCREMENTAL

> Algo que temos que ter em mente, é o seguinte fluxo:

<center><img width="100%" src="img/loop.png"></center>

> A expressão ``Atualização Incremental`` está tão na moda entre os desenvolvedores de Power BI hoje em dia, mas, para os desenvolvedores em geral, isso é mais velho que andar pra frente.

> Em resumo, o que vamos fazer é uma adequação de nossas funções, para que possamos usar o loop ``while``, e conforme as buscas forem efetuadas, já sejam gravadas no banco.

> Ai nesse momento, você me pergunta:
>>
>> *Mas não seria melhor carregar a tabela toda primeiro, e depois gravar no banco?*
>>
> Eu respondo com essa imagem...

<center><img width="100%" src="img/dino2.jpg"></center>

> Vamos supor que você tenha colocado seu algoritmo a rodar, já buscou (virtualmente) os dados de 1996 até 2016 (falta só 2017 a 2020), e do nada, cai sua internet.

> Estamos a mercê disso, e temos que nos previnir.

### 3.1 MODIFICANDO NOSSA FUNÇÃO DE BUSCA

> Vamos isolar a operação na inserção de 1 Proposição buscada

In [121]:
# Limpar os dados da tabela só pra demonstração
SQLTruncate('Proposicoes')


# ========= INICIO =========
proposicao = 200
ano = 2021
dados = Conteudo(proposicao,ano)
tabela = pd.DataFrame([dados])
SQLInsertProposicoes(tabela)
# ========= FIM =========


# visualizando dados
SQLSelect(f'select * from Proposicoes where Proposicao = {proposicao} and Ano = {ano}')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,2021-02-11,2021-02-11,Proposição Aprovada,Manutenção de via pública,VereadorValentim Blasius.,200,2021,"O Vereador abaixo firmado requer, após ouvido ..."

> Pensando em atualização incremental, cada consulta, tem que ser ``proposicao_anterior + 1``

In [84]:
ano = 2021
dados = SQLSelect(f'select Proposicao = max(Proposicao) from Proposicoes where Ano = {ano}')
dados

   Proposicao
0         200

In [85]:
# acessando a coluna
dados['Proposicao']

0    200
Name: Proposicao, dtype: int64

In [92]:
# acessando a coluna e linha
dados['Proposicao'].loc[0]

200

In [122]:
# ========= INICIO =========
ano = 2021

dados_ano = SQLSelect(f'select Proposicao = max(Proposicao) from Proposicoes where Ano = {ano}')
ultima_proposicao = dados_ano['Proposicao'].loc[0]

proxima_proposicao = int(ultima_proposicao) + 1

dados = Conteudo(proxima_proposicao,ano)
tabela = pd.DataFrame([dados])
SQLInsertProposicoes(tabela)
# ========= FIM =========


# visualizando dados
SQLSelect('select * from Proposicoes')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,2021-02-11,2021-02-11,Proposição Aprovada,Manutenção de via pública,VereadorValentim Blasius.,200,2021,"O Vereador abaixo firmado requer, após ouvido ..."
1,2021-02-11,2021-02-11,Proposição Aprovada,"Limpeza, Macadamização, Patrolamento, Retifica...",VereadorValentim Blasius.,201,2021,"O Vereador abaixo firmado requer, após ouvido ..."

In [216]:
# Limpando dados da tabela
SQLTruncate('Proposicoes')

# Visualizando a tabela
SQLSelect('select *from Proposicoes')

Empty DataFrame
Columns: [DataReuniao, DataDeliberacao, Situacao, Assunto, Autor, Proposicao, Ano, Texto]
Index: []

In [190]:
def InsereProposicao(ano, a_partir = 0):

    ultima_proposicao = SQLSelect(f'select Proposicao = max(Proposicao) from Proposicoes where Ano = {str(ano)}')
    ultima_proposicao = ultima_proposicao['Proposicao'].loc[0]
    
    # Se a Tabela estiver em branco...
    proposicoes_ano = SQLSelect(f'select qtd = count(*) from Proposicoes where Ano = {str(ano)}')['qtd'][0]
    
    if proposicoes_ano > 0:
        proxima_proposicao = int(ultima_proposicao) + 1       + a_partir
    else:
        proxima_proposicao = 1

    dados = Conteudo(proxima_proposicao,ano)
    tabela = pd.DataFrame([dados])
    SQLInsertProposicoes(tabela)

In [193]:
InsereProposicao(2021) # o segundo argumento é opcional, pois está pré-carregado
SQLSelect('select * from Proposicoes')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,2021-02-01,2021-02-01,Proposição Aprovada,Trânsito,VereadorRemir José de Faveri.,1,2021,"O vereador que esta subscreve, no uso das atri..."
1,2021-02-01,2021-02-01,Proposição Aprovada,Manutenção de via pública,VereadorRemir José de Faveri.,2,2021,"O vereador abaixo firmado requer, após ouvido ..."
2,2021-02-01,2021-02-01,Proposição Aprovada,Manutenção de via pública,VereadorValentim Blasius.,3,2021,"O vereador abaixo firmado requer, após ouvido ..."
3,2021-02-01,2021-02-01,Proposição Aprovada,Manutenção de via pública,VereadorValentim Blasius.,4,2021,"O vereador abaixo firmado requer, após ouvido ..."
4,2021-02-01,2021-02-01,Proposição Aprovada,Manutenção de via pública,VereadorRoger Michel Knipers.,25,2021,"O vereador que esta subscreve requer, após ouv..."
5,2021-02-01,2021-02-01,Proposição Aprovada,Iluminação Pública e Rede de Energia Elétrica,VereadorRoger Michel Knipers.,26,2021,"O vereador abaixo firmado requer, após ouvido ..."

In [222]:
ano = 2021
a_partir = 800

# Verifica tabela gravada
ultima_proposicao = SQLSelect(f'select Proposicao = max(Proposicao) from Proposicoes where Ano = {str(ano)}')
ultima_proposicao = ultima_proposicao['Proposicao'].loc[0]

# Verifica qual regra se sobrepõe
try:
    if ultima_proposicao >= a_partir:
        ultima_proposicao
    else:
        ultima_proposicao = a_partir - 1
except:
    ultima_proposicao = 0
        
# Se a Tabela estiver em branco...
proposicoes_ano = SQLSelect(f'select qtd = count(*) from Proposicoes where Ano = {str(ano)}')['qtd'][0]

if proposicoes_ano > 0:
    proxima_proposicao = int(ultima_proposicao) + 1      
else:
    proxima_proposicao = 1

# Insere
dados = Conteudo(proxima_proposicao,ano)
tabela = pd.DataFrame([dados])
SQLInsertProposicoes(tabela)

SQLSelect('select * from Proposicoes')

,DataReuniao,DataDeliberacao,Situacao,Assunto,Autor,Proposicao,Ano,Texto
0,2021-02-01,2021-02-01,Proposição Aprovada,Trânsito,VereadorRemir José de Faveri.,1,2021,"O vereador que esta subscreve, no uso das atri..."
1,2021-06-29,2021-06-29,Proposição Aprovada,Lixo; Lixeira,VereadorAnderson Luz dos Santos.,800,2021,"O vereador que esta subscreve, no uso das atri..."
2,2021-06-29,2021-06-29,Proposição Aprovada,"Pontes, Bueiros, boca de lobo",VereadorAnderson Luz dos Santos.,801,2021,"O vereador que esta subscreve, no uso das atri..."

---

# <font color=green> SAIBA MAIS SOBRE MIM

### Conheça meu trabalho

<a href="https://www.joviano.com">
<img src="https://raw.githubusercontent.com/jovianosilveira/img/master/joviano-silveira-site-logo.png" alt="joviano.com" width="5%">
</a>

<a href="https://www.youtube.com/jovianosilveira">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-youtube-logo.png?raw=true" alt="joviano.com" width="5%">
</a>

<a href="http://www.linkedin.com/in/jovianosilveira">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-linkedin-logo.png?raw=true" alt="joviano.com" width="5%">
</a>

<a href="https://www.instagram.com/jovi.silveira">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-instagram-logo.png?raw=true" alt="joviano.com" width="5%">
</a>

<a href="https://www.facebook.com/jovi.silveira.cursos">
<img src="https://github.com/jovianosilveira/img/blob/master/joviano-silveira-facebook-logo.png?raw=true" alt="joviano.com" width="5%">
</a>